.App {
  text-align: center;
}
.brand-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.brand-img{
  width: 200px;
  height: 25%;
}